<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Irregular Verbs</title>
</head>
<body style="background-color: rgb(31, 31, 31);">

    <div class="container p-5 text-light" style="background-color: rgb(31,31,31);">

    <div class="col-md-6 offset-md-3">

        <section class="card card-body p-4 " style="background-color: rgb(0, 0, 0);">
            <h1 hidden style="text-align: center; background-color: red;" id="h2-celebration">You lose</h1>
            <h2 style="text-align: center;">Verb: <strong>{{word.Baseform}}</strong></h2> 

            <p id="timer" style="text-align: right;">0</p>

            <label for="past-form">Past form:
                <input class="form-control" type="text" name="past-form" id="past-form" placeholder="type here..." autofocus>
            </label>

            <br>

            <label for="past-participle">Past participle:
                <input class="form-control" type="text" name="past-participle" id="past-participle" placeholder="type here...">
            </label>

            <input id="submit-value" type="submit" class="btn btn-primary btn-lg form-control" onclick="check();" style="margin-top: 10%;">

        </section>

    </dv>


    <br>

    <div id="hidden-div" hidden>
        <span id="hidden-past-form">{{word.Pastform}}</span>
        <span id="hidden-past-participle">{{word.Pastparticiple}}</span>
    </div>

    <div class="d-grid gap-2 d-md-block">
    <button type="button" class="btn btn-danger btn-lg" onclick="reload()" >Reload</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="answers()">Answers</button>
    </div>


    </div>

</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>

let timer;
let element = document.getElementById('timer');
let win = document.getElementById('h2-celebration');
(function () {
    let sec = 60;
    timer = setInterval(() => {
        element.innerHTML = sec;
        sec --;
        if(sec < 1){
            check;
            document.getElementById('submit-value').disabled = true;
            setTimeout(reload, 5000);            
        }
    }, 1000)
})()

function check () {
    let inputpastform = document.getElementById("past-form").value;
    let inputpastparticiple = document.getElementById("past-participle").value;
    let hiddenpastform = document.getElementById("hidden-past-form").innerHTML;
    let hiddenpastparticiple = document.getElementById("hidden-past-participle").innerHTML;

    if (inputpastform.toLowerCase() == hiddenpastform & inputpastparticiple.toLowerCase() == hiddenpastparticiple){
        win.removeAttribute("hidden");
        win.innerHTML = 'You win';
        }else if(inputpastform.toLowerCase() == hiddenpastform){
                win.removeAttribute("hidden");
                win.innerHTML = 'Past form is good';
                }else if(inputpastparticiple.toLowerCase() == hiddenpastparticiple){
                        win.removeAttribute("hidden");
                        win.innerHTML = 'Participle form is good';
                        }else{
                        win.removeAttribute("hidden");
                        }

                        setTimeout(reload, 5000);
    }

    function answers() {
        let inputpastform = document.getElementById("past-form");
        let inputpastparticiple = document.getElementById("past-participle");
        let hiddenpastform = document.getElementById("hidden-past-form").innerHTML;
        let hiddenpastparticiple = document.getElementById("hidden-past-participle").innerHTML;

        inputpastform.value = hiddenpastform;
        inputpastparticiple.value = hiddenpastparticiple;
        document.getElementById('submit-value').disabled = true;
        inputpastform.disabled = true;
        inputpastparticiple.disabled = true;
    }

    function reload() {
        location.reload();
    }

    </script>
    <noscript>Your browser does not support JavaScript!</noscript>

</html>